body {
    text-align: center;
    background-color: rgb(109, 110, 110);
}

#container{
    background: black;
    position: absolute;
    margin: auto;
    height: 800px;
    width: 1200px;
}

#user-score, #ai-score{
    color: white;
    position: absolute;
    top: 12px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

#user-score{
    left: 400px;
}
#ai-score{
    left:800px
}